*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
main{
    height: 100vh;
}
.sign-up-container{
   display: flex;
   justify-content: center;
   align-items: center;  
   flex-direction: column;
}

/* sign-up */
.sign-up-container{
    background-color:  hsl(235, 18%, 26%);
    height: 100vh;
}

.sign-up-container .container{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    background-color:  hsl(0, 0%, 100%);
    max-width: 662px;
    margin: 1rem;
    padding: 1rem;
    
}

.desktop-img{
    background-image: url(./newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 417px;
    width: 282px;
}

.text-container{
    margin-inline: 1.4rem;
    font-size: 13px;
}
.text-container p{
    line-height: 1.3rem;
}
.check-text-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.check{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.check p{
    margin: 0;
}
.check img{
    height: 16px;
}
.text{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.input-container{
    margin-top: 2rem;
}
input{
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 6px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%);
    cursor: pointer;
}
.button{
    background-color: hsl(234, 29%, 20%) ;
    padding: 0.7rem 1rem;
    color: hsl(0, 0%, 100%);
    border-radius: 6px;
    margin-top: 1rem;
    text-align: center;
    cursor: pointer;
}
.button:active{
    background-image: linear-gradient(29deg ,hotpink,orangered);
}

#error-text{
    color:  hsl(4, 100%, 67%);
    display: none;   
}
.error #error-text{   /*  use in js*/
 display: block;
}

.error input::placeholder{
    color:  hsl(4, 100%, 67%);
}
.error input{
    border: 1px solid hsl(4, 100%, 67%);
    background-color: hsl(4deg 100% 67% / 20%)
}

.hidden{
    visibility: hidden;
}
.block{
    display: block;
}


/* success msg */

.success-container{
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-block: 2rem;
    padding-inline: 1.3rem;
    border-radius: 24px;
}
.success-container img{
    width: 30px;
}
.success-container p{
    font-size: 11px;
    margin: 0;
}

.success-text-container p span{
    font-weight: 800;
}



@media(max-width:600px){
    .text-container{
        margin-inline: 1rem;
        margin: 1rem;
    }
   
    .input-container {
        margin-top: 1rem;
    }
}

@media(max-width:505px){
    .desktop-img{
        display:none;
    }
    .mobile-img{
        background-image: url(./newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 241px;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .sign-up-container{
        display: unset;
    }
    .sign-up-container .container{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .text-container{
        margin-block: 2rem;
    }

   /* Success message */

   .success-container{
    width: 270px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 328px;
   }
}





